:root {
  --first-color: rgb(10, 10, 10);
  --second-color: #E7E7E7;
  --third-color: rgb(163, 163, 163);
  --forth-color: #D9D9D9;

  --font-1: 'inter';
  --font-2: 'Montserrat';

  --background-image1: url('../img/IMG_20230423_173450\ \(1\).JPG');
  --background-image2: url('../img/00001-4234726516\ \(1\).png');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 170px;
}

body{
    background-color: var(--second-color);
    color: var(--first-color);
    font-family: var(--font-1);
    transition: .3s;
    padding-top: 130px;
}

.header{
    transition: .3s;
}

body.dark-theme{
  --first-color: #E7E7E7;
  --second-color: rgb(10, 10, 10);
  --forth-color: #292929;
  --background-image1: url('../img/00001-4234726516\ \(1\).png');
  --background-image2: url('../img/IMG_20230423_173450\ \(1\).JPG');

}

.container{
    max-width: 1320px;
    margin: 0 auto;
}

section{
    margin-bottom: 180px;
}

a{
    text-decoration: none;
}
/* navigation */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    padding: 0 30px;
    background-color: var(--second-color);
    border-bottom: 1px solid var(--third-color);
    z-index: 100;
}

.nav-container{
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: none;
    font-size: 16px;
    color: var(--first-color);
}

.main-nav{
    width: 270px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-section{
    font-family: var(--font-2);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: var(--first-color);
    opacity: 0.7;
    transition: opacity 0.3s;
}

.nav-section:hover{
    opacity: 1;
}

.nav-section:active{
    opacity: 1;
}

.title-logo{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
}

.d-l{
    padding-left: 220px;
    color: var(--first-color);
    font-size: 1.2rem;
}

/* home */

.k-k{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.kiri{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-text{
    width: 723px;
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 4rem;
}

.moto{
    width: 389px;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.kanan{
    width: 512px;
    height: 512px;
    border-radius: 10px;
    background-image: url('../img/IMG_20230423_173450\ \(1\).JPG');
    background-position: center;
    background-size: 100%;
    transition: background-size 800ms;
}

.kanan:hover{
    background-size: 110%;
}
/* bawah */
.bawah{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6rem;
    bottom: 50px;
}

.bawah-1{
    width: max-content;
    opacity: 0.7;
    color: var(--first-color);
    font-size: 1.4rem;
}

/* About Me */
.l-r{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left{
    width: 530px;
    height: 350px;
    border-radius: 8px;
    background-image: url('../img/4\ Golden\ Rules\ For\ Living\ The\ Laptop\ Lifestyle (1).png');
    background-size: 100%;
    transition: background-size 800ms;
}

.left:hover{
    background-size: 110%;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-1{
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.about-h3{
    text-transform: uppercase;
    color: var(--first-color);
    font-family: var(--font-2);
    font-size: 3.7rem;
    font-weight: 700;
}

.about-p{
    text-align: justify;
    color: var(--first-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}
/* techstack */
.techstack{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.t{
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.logo-ts{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.techstacknya{
    font-size: 1.6rem;
}

.icon{
    transition: 0.2s;
}

.icon:hover{
    color: var(--third-color);
}

.bxl-html5{
    color: #e34c26;
}

.bxl-css3{
    color: #264de4;
}

.bxl-javascript{
    color: #F0DB4F;
}

/* works */
.text-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.atas{
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 61px;
    text-align: center;
    letter-spacing: -0.04em;
    width: 37rem;
    color: var(--first-color);
}

.line{
    width: 100px;
    height: 2px;
    background-color: var(--first-color);
}
/* cardnya */
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: var(--forth-color);
    padding: 30px;
}

.atas-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-kiri{
    width: 375px;
}

.p1-kiri{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.a-github{
    font-size: 1.4rem;
    color: var(--first-color);
    margin-bottom: 7px;
}

.p1{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: var(--font-2);
    color: var(--first-color);
}

.p2{
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2rem;
    font-family: var(--font-2);
    color: var(--first-color);
}

.arrow{
    width: 65px;
}

.card-bawah{
    margin-top: 20px;
    width: 590px;
    height: 325px;
    background-color: var(--second-color);
}

/* media queries */

@media (max-width: 1366px) {
    html{
        font-size: 80%;
    }

    .container{
        max-width: 1000px;
        margin: 0 auto;
    }

    .bawah{
        bottom: 30px;
    }

    .main-text{
        width: 570px;
    }

    .kanan{
        width: 400px;
        height: 400px;
    }

    .left{
        background-size: 120%;
        background-position: center;
        width: 400px;
        height: 310px;
    }

    .left:hover{
        background-size: 130%;
    }

    .right-1{
        width: 550px;
    }

    .card-bawah{
        width: 450px;
        height: 300px;
    }

    .card-kiri{
        width: 300px;
    }

    .card{
        padding: 21px;
    }
}

@media (max-width: 1024px){
    html{
        scroll-padding-top: 120px;
        font-size: 70%;
    }

    .container{
        max-width: 750px;
        margin: 0 auto;
    }

    .main-nav{
        width: 200px;
    }

    .bawah{
        bottom: 20px;
    }
    
    .main-text{
        width: 400px;
    }

    .kanan{
        width: 300px;
        height: 300px;
    }

    .left{
        background-size: 130%;
        background-position: center;
        width: 300px;
        height: 260px;
    }

    .left:hover{
        background-size: 140%;
    }

    .right-1{
        width: 420px;
    }

    .l-r{
        align-items: center;
    }

    .atas{
        width: 30rem;
        line-height: 4rem;
    }

    .card-kiri{
        width: 200px;
    }

    .cards{
        flex-direction: column;
        gap: 40px;
    }
} 

@media (max-width: 786px) {
    html{
        font-size: 62.5%;
    }

    .container{
        max-width: 425px;
        margin: 0 auto;
    }

    .nav-container .main-nav{
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: var(--first-color);
        width: 30rem;
        height: 120vh;
        transition: 0.3s;
        display: block;
        padding: 3rem;
    }

    .nav-container .main-nav.active{
        left: 0;
        display: block;
        padding: 3rem;
    }

    .nav-container .main-nav li{
        margin-bottom: 10px;
    }

    .nav-container .main-nav a{
        color: var(--second-color);
        font-size: 3rem;
    }

    .bawah{
        display: none;
    }

    body{
        padding-top: 115px;
    }

    .k-k{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .kanan{
        border-radius: 50%;
        background-size: 100%;
        background-position: center;
        width: 200px;
        height: 200px;
    }

    .kiri{
        align-items: center;
    }

    .main-text, .moto{
        text-align: center;
    }

    .moto{
        width: 250px;
    }

    .l-r{
        flex-direction: column;
        gap: 40px;
    }

    .left{
        background-size: 120%;
        background-position: center;
        width: 420px;
        height: 320px;
    }

    .left:hover{
        background-size: 130%;
    }

    .card-bawah{
        width: 370px;
    }

    .d-l{
        padding: 0;
    }

    .menu{
        display: inline-block;
    }
}

@media (max-width: 425px) {
    html{
        font-size: 50%;
    }

    .container{
        max-width: 320px;
        margin: 0 auto;
    }

    .main-text{
        width: 300px;
    }

    .moto{
        width: 170px;
    }

    .left{
        background-size: 120%;
        background-position: center;
        width: 240px;
        height: 170px;
    }

    .left:hover{
        background-size: 130%;
    }

    .right-1{
        width: 240px;
    }

    .card-bawah{
        width: 270px;
        height: 200px;
    }
}